
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<style>
			body {
				background: black;
				color: rgb(80, 80, 80);
			}
			body, pre, #legend span {
				font-family: Menlo, monospace;
				font-weight: bold;
			}
			#topbar {
				background: black;
				position: fixed;
				top: 0; left: 0; right: 0;
				height: 42px;
				border-bottom: 1px solid rgb(80, 80, 80);
			}
			#content {
				margin-top: 50px;
			}
			#nav, #legend {
				float: left;
				margin-left: 10px;
			}
			#legend {
				margin-top: 12px;
			}
			#nav {
				margin-top: 10px;
			}
			#legend span {
				margin: 0 5px;
			}
			.cov0 { color: rgb(192, 0, 0) }
.cov1 { color: rgb(128, 128, 128) }
.cov2 { color: rgb(116, 140, 131) }
.cov3 { color: rgb(104, 152, 134) }
.cov4 { color: rgb(92, 164, 137) }
.cov5 { color: rgb(80, 176, 140) }
.cov6 { color: rgb(68, 188, 143) }
.cov7 { color: rgb(56, 200, 146) }
.cov8 { color: rgb(44, 212, 149) }
.cov9 { color: rgb(32, 224, 152) }
.cov10 { color: rgb(20, 236, 155) }

		</style>
	</head>
	<body>
		<div id="topbar">
			<div id="nav">
				<select id="files">
				
				<option value="file0">github.com/symflower/sessions/2019/socrates-linz/comments/controller/index.go (66.7%)</option>
				
				<option value="file1">github.com/symflower/sessions/2019/socrates-linz/comments/controller/register.go (62.5%)</option>
				
				<option value="file2">github.com/symflower/sessions/2019/socrates-linz/comments/main.go (100.0%)</option>
				
				<option value="file3">github.com/symflower/sessions/2019/socrates-linz/comments/model/comment.go (80.0%)</option>
				
				<option value="file4">github.com/symflower/sessions/2019/socrates-linz/comments/model/user.go (70.6%)</option>
				
				<option value="file5">github.com/symflower/sessions/2019/socrates-linz/comments/server/server.go (80.0%)</option>
				
				</select>
			</div>
			<div id="legend">
				<span>not tracked</span>
			
				<span class="cov0">not covered</span>
				<span class="cov8">covered</span>
			
			</div>
		</div>
		<div id="content">
		
		<pre class="file" id="file0" style="display: none">package controller

import (
        "database/sql"
        "net/http"
        "text/template"

        "github.com/symflower/sessions/2019/socrates-linz/comments/model"
)

var templateIndex = template.Must(template.New("index").Parse(`&lt;!DOCTYPE html&gt;
&lt;html&gt;
        &lt;head&gt;
                &lt;meta charset="utf-8"&gt;
                &lt;title&gt;Comments!&lt;/title&gt;
                ` + css + `
        &lt;/head&gt;
        &lt;body&gt;
                &lt;h1&gt;We think comments are amazing!&lt;/h1&gt;
                &lt;form id="form_comment" class="pure-form pure-form-aligned" method="POST"&gt;
                        &lt;fieldset&gt;
                                &lt;legend&gt;Leave a comment or &lt;a href="/register"&gt;register a user to comment&lt;/a&gt;&lt;/legend&gt;

                                &lt;div class="pure-control-group"&gt;
                                        &lt;label for="mail"&gt;Mail address&lt;/label&gt;
                                        &lt;input id="mail" name="mail" type="email" placeholder="Mail address" value="{{.Form.Mail}}"&gt;
                                        {{if .Form.MailError}}&lt;span id="mail_error" class="pure-form-message-inline"&gt;{{.Form.MailError}}&lt;/span&gt;{{end}}
                                &lt;/div&gt;

                                &lt;div class="pure-control-group"&gt;
                                        &lt;label for="password"&gt;Password&lt;/label&gt;
                                        &lt;input id="password" name="password" type="password" placeholder="Password" value="{{.Form.Password}}"&gt;
                                        {{if .Form.PasswordError}}&lt;span id="password_error" class="pure-form-message-inline"&gt;{{.Form.PasswordError}}&lt;/span&gt;{{end}}
                                &lt;/div&gt;

                                &lt;div class="pure-control-group"&gt;
                                        &lt;label for="message"&gt;Message&lt;/label&gt;
                                        &lt;input id="message" name="message" type="text" placeholder="Message" value="{{.Form.Message}}"&gt;
                                        {{if .Form.MessageError}}&lt;span id="message_error" class="pure-form-message-inline"&gt;{{.Form.MessageError}}&lt;/span&gt;{{end}}
                                &lt;/div&gt;

                                &lt;div class="pure-controls"&gt;
                                        &lt;input type="submit" value="Create" class="pure-button pure-button-primary"&gt;
                                &lt;/div&gt;
                        &lt;/fieldset&gt;
                &lt;/form&gt;
                &lt;div class="comments"&gt;
                        {{range $comment := .Comments}}
                        &lt;section&gt;
                                &lt;div class="message"&gt;{{$comment.Message}}&lt;/div&gt;
                                &lt;div class="by"&gt;By {{$comment.Mail}}&lt;/div&gt;
                        &lt;/section&gt;
                        {{end}}
                &lt;/div&gt;
        &lt;/body&gt;
&lt;/html&gt;
`))

type templateIndexData struct {
        Comments []*model.Comment
        Form     struct {
                Mail          string
                MailError     string
                Password      string
                PasswordError string
                Message       string
                MessageError  string
        }
}

func HandleIndex(db *sql.DB, w http.ResponseWriter, r *http.Request) <span class="cov8" title="1">{
        data := templateIndexData{}

        data.Form.Mail = r.FormValue("mail")
        data.Form.Password = r.FormValue("password")
        data.Form.Message = r.FormValue("message")

        if data.Form.Mail == "" </span><span class="cov0" title="0">{
                data.Form.MailError = "This is a required field."
        }</span>

        <span class="cov8" title="1">if data.Form.Password == "" </span><span class="cov0" title="0">{
                data.Form.PasswordError = "This is a required field."
        }</span> else<span class="cov8" title="1"> {
                loggedin, err := model.UserLogin(db, data.Form.Mail, data.Form.Password)
                if err != nil </span><span class="cov0" title="0">{
                        http.Error(w, err.Error(), http.StatusInternalServerError)

                        return
                }</span> else<span class="cov8" title="1"> if !loggedin </span><span class="cov0" title="0">{
                        data.Form.PasswordError = "Incorrect login user or password"
                }</span>
        }

        <span class="cov8" title="1">if data.Form.Message == "" </span><span class="cov0" title="0">{
                data.Form.MessageError = "This is a required field."
        }</span>

        <span class="cov8" title="1">if data.Form.MailError == "" &amp;&amp; data.Form.PasswordError == "" &amp;&amp; data.Form.MessageError == "" </span><span class="cov8" title="1">{
                err := model.CommentAdd(db, data.Form.Mail, data.Form.Message)
                if err != nil </span><span class="cov0" title="0">{
                        http.Error(w, err.Error(), http.StatusInternalServerError)

                        return
                }</span>

                <span class="cov8" title="1">data.Form.Mail = ""
                data.Form.Password = ""
                data.Form.Message = ""</span>
        }

        <span class="cov8" title="1">var err error
        data.Comments, err = model.CommentAll(db)
        if err != nil </span><span class="cov0" title="0">{
                http.Error(w, err.Error(), http.StatusInternalServerError)

                return
        }</span>

        <span class="cov8" title="1">w.WriteHeader(http.StatusOK)
        err = templateIndex.Execute(w, data)
        if err != nil </span><span class="cov0" title="0">{
                panic(err)</span> // If we cannot render the template, the server is unusable.
        }
}
</pre>
		
		<pre class="file" id="file1" style="display: none">package controller

import (
        "database/sql"
        "net/http"
        "strings"
        "text/template"

        "github.com/symflower/sessions/2019/socrates-linz/comments/model"
)

var templateRegister = template.Must(template.New("index").Parse(`&lt;!DOCTYPE html&gt;
&lt;html&gt;
        &lt;head&gt;
                &lt;meta charset="utf-8"&gt;
                &lt;title&gt;Comments!&lt;/title&gt;
                ` + css + `
        &lt;/head&gt;
        &lt;body&gt;
                &lt;h1&gt;We think comments are amazing!&lt;/h1&gt;
                {{if .Registered}}
                        You registered the user {{.Form.Mail}}. You can now &lt;a href="/"&gt;go commenting with your user.&lt;/a&gt;
                {{else}}
                        &lt;form id="form_register" class="pure-form pure-form-aligned" method="POST"&gt;
                                &lt;fieldset&gt;
                                        &lt;legend&gt;Register a user or &lt;a href="/"&gt;go commenting with your user&lt;/a&gt;&lt;/legend&gt;

                                        &lt;div class="pure-control-group"&gt;
                                                &lt;label for="mail"&gt;Mail address&lt;/label&gt;
                                                &lt;input id="mail" name="mail" type="email" placeholder="Mail address" value="{{.Form.Mail}}"&gt;
                                                {{if .Form.MailError}}&lt;span id="mail_error" class="pure-form-message-inline"&gt;{{.Form.MailError}}&lt;/span&gt;{{end}}
                                        &lt;/div&gt;

                                        &lt;div class="pure-control-group"&gt;
                                                &lt;label for="password"&gt;Password&lt;/label&gt;
                                                &lt;input id="password" name="password" type="password" placeholder="Password" value="{{.Form.Password}}"&gt;
                                                {{if .Form.PasswordError}}&lt;span id="password_error" class="pure-form-message-inline"&gt;{{.Form.PasswordError}}&lt;/span&gt;{{end}}
                                        &lt;/div&gt;

                                        &lt;div class="pure-controls"&gt;
                                                &lt;input type="submit" value="Create" class="pure-button pure-button-primary"&gt;
                                        &lt;/div&gt;
                                &lt;/fieldset&gt;
                        &lt;/form&gt;
                {{end}}
        &lt;/body&gt;
&lt;/html&gt;
`))

type templateRegisterData struct {
        Registered bool
        Form       struct {
                Mail          string
                MailError     string
                Password      string
                PasswordError string
        }
}

func HandleRegister(db *sql.DB, w http.ResponseWriter, r *http.Request) <span class="cov8" title="1">{
        data := templateRegisterData{}

        data.Form.Mail = r.FormValue("mail")
        data.Form.Password = r.FormValue("password")

        if data.Form.Mail == "" </span><span class="cov0" title="0">{
                data.Form.MailError = "This is a required field."
        }</span> else<span class="cov8" title="1"> if !strings.Contains(data.Form.Mail, "@") </span><span class="cov0" title="0">{
                data.Form.MailError = "Not a valid mail address."
        }</span> else<span class="cov8" title="1"> if user, err := model.UserByMail(db, data.Form.Mail); err != nil </span><span class="cov0" title="0">{
                http.Error(w, err.Error(), http.StatusInternalServerError)

                return
        }</span> else<span class="cov8" title="1"> if user != nil </span><span class="cov0" title="0">{
                data.Form.MailError = "The mail address " + data.Form.Mail + " does already exist."
        }</span>

        <span class="cov8" title="1">if data.Form.Password == "" </span><span class="cov0" title="0">{
                data.Form.PasswordError = "This is a required field."
        }</span>

        <span class="cov8" title="1">if data.Form.MailError == "" &amp;&amp; data.Form.PasswordError == "" </span><span class="cov8" title="1">{
                err := model.UserAdd(db, data.Form.Mail, data.Form.Password)
                if err != nil </span><span class="cov0" title="0">{
                        http.Error(w, err.Error(), http.StatusInternalServerError)

                        return
                }</span>

                <span class="cov8" title="1">data.Registered = true</span>
        }

        <span class="cov8" title="1">w.WriteHeader(http.StatusOK)
        err := templateRegister.Execute(w, data)
        if err != nil </span><span class="cov0" title="0">{
                panic(err)</span> // If we cannot render the template, the server is unusable.
        }
}
</pre>
		
		<pre class="file" id="file2" style="display: none">package main

import (
        "github.com/symflower/sessions/2019/socrates-linz/comments/server"
)

func main() <span class="cov8" title="1">{
        server.Run()
}</span>
</pre>
		
		<pre class="file" id="file3" style="display: none">package model

import (
        "database/sql"
        "fmt"
        "time"
)

// Comment holds a comment.
type Comment struct {
        Mail    string
        Created time.Time
        Message string
}

func (p Comment) String() string <span class="cov0" title="0">{
        return fmt.Sprintf("{Mail: %s, Created: %s, Message: %s}", p.Mail, p.Created, p.Message)
}</span>

// CommentInit initializes the comments table.
func CommentInit(db *sql.DB) error <span class="cov8" title="1">{
        _, err := db.Exec("CREATE TABLE comments(mail TEXT, created datetime, message TEXT)")

        return err
}</span>

// CommentAdd adds a comment to the database.
func CommentAdd(db *sql.DB, mail string, message string) error <span class="cov8" title="1">{
        _, err := db.Exec("INSERT INTO comments(mail, created, message) VALUES('" + mail + "', datetime('now'), '" + message + "')")

        return err
}</span>

// CommentAll returns all comments ordered in by their creation time.
func CommentAll(db *sql.DB) ([]*Comment, error) <span class="cov8" title="1">{
        rows, err := db.Query("SELECT mail, created, message FROM comments ORDER BY created DESC")
        if err != nil </span><span class="cov0" title="0">{
                return nil, err
        }</span>
        <span class="cov8" title="1">defer rows.Close()

        var comments []*Comment
        for rows.Next() </span><span class="cov8" title="1">{
                var comment Comment
                err := rows.Scan(&amp;comment.Mail, &amp;comment.Created, &amp;comment.Message)
                if err != nil </span><span class="cov0" title="0">{
                        return nil, err
                }</span>
                <span class="cov8" title="1">comments = append(comments, &amp;comment)</span>
        }

        <span class="cov8" title="1">err = rows.Err()
        if err != nil </span><span class="cov0" title="0">{
                return nil, err
        }</span>

        <span class="cov8" title="1">return comments, nil</span>
}
</pre>
		
		<pre class="file" id="file4" style="display: none">package model

import (
        "database/sql"
)

// User holds a user.
type User struct {
        Mail     string
        Password string
}

// UserInit initializes the users table.
func UserInit(db *sql.DB) error <span class="cov8" title="1">{
        _, err := db.Exec("CREATE TABLE users(mail TEXT, password TEXT)")

        return err
}</span>

// UserByMail returns a user identified by its mail address, or nil if the user does not exist.
func UserByMail(db *sql.DB, mail string) (*User, error) <span class="cov8" title="1">{
        var user User
        err := db.QueryRow("SELECT mail, password FROM users WHERE mail = '"+mail+"'").Scan(&amp;user.Mail, &amp;user.Password)
        if err == sql.ErrNoRows </span><span class="cov8" title="1">{
                return nil, nil
        }</span> else<span class="cov0" title="0"> if err != nil </span><span class="cov0" title="0">{
                return nil, err
        }</span>

        <span class="cov0" title="0">return &amp;user, nil</span>
}

// UserAdd adds a user to the database.
func UserAdd(db *sql.DB, mail string, password string) error <span class="cov8" title="1">{
        _, err := db.Exec("INSERT INTO users(mail, password) VALUES('" + mail + "', '" + password + "')")

        return err
}</span>

// UserLogin returns if a password belongs to a user.
func UserLogin(db *sql.DB, mail string, password string) (bool, error) <span class="cov8" title="1">{
        err := db.QueryRow("SELECT mail FROM users WHERE mail = '" + mail + "' AND password = '" + password + "'").Scan(&amp;mail)
        if err == sql.ErrNoRows </span><span class="cov0" title="0">{
                return false, nil
        }</span> else<span class="cov8" title="1"> if err != nil </span><span class="cov0" title="0">{
                return false, err
        }</span>

        <span class="cov8" title="1">return true, nil</span>
}
</pre>
		
		<pre class="file" id="file5" style="display: none">package server

import (
        "database/sql"
        "fmt"
        "log"
        "net/http"
        "time"

        _ "github.com/mattn/go-sqlite3" // Include SQLite as SQL driver.

        "github.com/symflower/sessions/2019/socrates-linz/comments/controller"
        "github.com/symflower/sessions/2019/socrates-linz/comments/model"
)

// Run starts our application server.
func Run() <span class="cov8" title="1">{
        db, err := sql.Open("sqlite3", fmt.Sprintf("file:unique%d?mode=memory&amp;cache=shared", time.Now().UnixNano()))
        if err != nil </span><span class="cov0" title="0">{
                panic(err)</span>
        }

        <span class="cov8" title="1">err = model.CommentInit(db)
        if err != nil </span><span class="cov0" title="0">{
                panic(err)</span>
        }
        <span class="cov8" title="1">err = model.UserInit(db)
        if err != nil </span><span class="cov0" title="0">{
                panic(err)</span>
        }

        <span class="cov8" title="1">middleware := func(handler func(db *sql.DB, w http.ResponseWriter, r *http.Request)) func(w http.ResponseWriter, r *http.Request) </span><span class="cov8" title="1">{
                return func(w http.ResponseWriter, r *http.Request) </span><span class="cov8" title="1">{
                        log.Printf("Request %s with %s", r.URL.Path, r.Method)

                        handler(db, w, r)

                        log.Printf("Done")
                }</span>
        }

        <span class="cov8" title="1">http.HandleFunc("/", middleware(controller.HandleIndex))
        http.HandleFunc("/register", middleware(controller.HandleRegister))

        log.Printf("Listening on port 8080")
        err = http.ListenAndServe(":8080", nil)
        if err != nil </span><span class="cov0" title="0">{
                panic(err)</span>
        }
}
</pre>
		
		</div>
	</body>
	<script>
	(function() {
		var files = document.getElementById('files');
		var visible;
		files.addEventListener('change', onChange, false);
		function select(part) {
			if (visible)
				visible.style.display = 'none';
			visible = document.getElementById(part);
			if (!visible)
				return;
			files.value = part;
			visible.style.display = 'block';
			location.hash = part;
		}
		function onChange() {
			select(files.value);
			window.scrollTo(0, 0);
		}
		if (location.hash != "") {
			select(location.hash.substr(1));
		}
		if (!visible) {
			select("file0");
		}
	})();
	</script>
</html>
